<html ng-app="taskList">
  <head>
    <meta charset="UTF-8" />
    <title>Task List</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/taskListCtrl.js"></script>
    <script src="js/services/tasksAPIService.js"></script>
    <script src="js/value/configValue.js"></script>
  </head>
  <body ng-controller="taskListCtrl">
    <div class="container">
      <div class="header">
        <div class="float-start">
          <h3>{{app}}</h3>
        </div>
        <div class="float-end">
          <input
            class="form-control"
            type="text"
            ng-model="searchBy"
            placeholder="Insira um filtro"
          />
        </div>
      </div>
      <table ng-show="tasks.length > 0" class="table table-striped">
        <tr>
          <th><a href="" ng-click="filterBy('name')">Nome</a></th>
          <th><a href="" ng-click="filterBy('email')">Email</a></th>
          <th><a href="" ng-click="filterBy('description')">Descrição</a></th>
          <th></th>
        </tr>
        <tr
          ng-repeat="task in tasks | filter:searchBy | orderBy:orderField:orderBy"
        >
          <td>{{task.name}}</td>
          <td>{{task.email}}</td>
          <td>{{task.description}}</td>
          <td>BOTÃO</td>
        </tr>
      </table>
      <hr />
      <form name="taskForm">
        <input
          class="form-control"
          type="text"
          ng-model="task.name"
          name="name"
          placeholder="Nome do responsável"
          ng-required="true"
        />
        <input
          class="form-control"
          type="text"
          ng-model="task.email"
          name="email"
          placeholder="E-mail do responsável"
          ng-required="true"
        />
        <input
          class="form-control"
          type="text"
          ng-model="task.description"
          name="description"
          placeholder="Descrição da tarefa"
          ng-required="true"
        />
      </form>

      <div ng-show="taskForm.name.$dirty" ng-messages="taskForm.name.$error">
        <div ng-message="required" class="alert alert-danger">
          Por favor, informe o nome do responsável.
        </div>
      </div>
      <div ng-show="taskForm.email.$dirty" ng-messages="taskForm.email.$error">
        <div ng-message="required" class="alert alert-danger">
          Por favor, informe o e-mail do responsável.
        </div>
      </div>
      <div
        ng-show="taskForm.description.$dirty"
        ng-messages="taskForm.description.$error"
      >
        <div ng-message="required" class="alert alert-danger">
          Por favor, informe a descrição da tarefa.
        </div>
      </div>
      <div>{{message}}</div>
      <button
        class="btn btn-primary btn-block"
        ng-click="addTask(task)"
        ng-disabled="taskForm.$invalid"
      >
        Adicionar tarefa
      </button>
    </div>
    <div style="text-align: center">
      <span>Página criada por Luiz Rogério</span>
    </div>
  </body>
</html>
